@import "reset.css";

:root {
    color-scheme: dark;
    --foreground: hsl(0, 0%, 90%);
    --background: hsl(0, 0%, 10%);

    --btn-background: hsl(0, 0%, 20%);
    --btn-background--hover: hsl(0, 0%, 25%);

    --popup-background: hsl(0, 0%, 15%);

    --btn-background--primary: hsl(37, 50%, 24%);
    --btn-background--primary--hover: hsl(37, 93%, 30%);
}

body, button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    
    color: var(--foreground);
    background-color: var(--background);
    font-size: 13pt;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    height: 100%;

    flex-grow: 1;

    height: calc(100% - 80px);
}

footer {
    display: flex;
    padding: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85em;
    background-color: hsl(0, 0%, 10%);
    line-height: 1.25;

    &>h1 {
        font-size: 1em;
        font-weight: 900;
        letter-spacing: -1px;
    
        &>a {
            color: #f7a41d;
            text-decoration: none;
        }
    }

    #warning {
        margin-right: 0.25rem;
        border-radius: 3px;
        padding: 0.075rem 0.30rem;
        background-color: hsl(40, 75%, 25%);
    }
}

p {
    margin: 1rem 0;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

a {
    color: hsl(200, 100%, 80%);
    text-decoration: underline;
}

#split-pane {
    display: flex;

    flex-direction: column;
    height: 100%;
    overflow: hidden;

    &>*:first-child {
        height: var(--editor-height-percent);
    }

    &>#resize-bar {
        height: 0.5rem;
    }

    &>*:last-child {
        height: calc(100% - 0.5rem - var(--editor-height-percent));
    }
}

#resize-bar {
    position: relative;
    width: 100%;
    cursor: row-resize;
    background-color: hsl(0, 0%, 15%);
}

#resize-bar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(3);
}

#resize-bar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5rem;
    border: 2px dashed hsl(0, 0%, 50%);
    border-radius: 100px;
    transform: translate(-50%,-50%);
}

#outputs-tabs, code {
    font-family: monospace;
}

.cm-editor {
    height: 100%;
}

.cm-focused {
    outline: none !important;
}

.cm-tooltip {
    padding: 6px;
}

ul {
    list-style: circle;
    margin-left: 2rem;
    line-height: 1.5;
}

#run {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1.85rem;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    background-color: hsl(37, 93%, 30%);
}

#output {
    height: 100%;
    background-color: hsl(0, 0%, 5%);
    overflow-y: auto;

    &>div {
        white-space: pre;
        font-family: monospace;
    }

    &>.zig-output {
        padding: 1rem;
        color: hsl(0, 0%, 90%);
        background-color: hsl(37, 93%, 5%);
    
        &.latest {
            background-color: hsl(37, 93%, 10%);
        }
    }

    &>.runner-output {
        padding: 1rem;
        color: hsl(0, 0%, 90%);
        background-color: hsl(200, 93%, 5%);
    
        &.latest {
            background-color: hsl(200, 93%, 10%);
        }
    }

    &>.output-split {
        width: 100%;
        height: 1px;
        background-color: white;
    }
}
