@use "reset";

:root {
    color-scheme: dark;
}

body, button, input, select {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 1rem;
    
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 10%);
}

h1 {
    margin-bottom: 2rem;
    font-size: 2em;
    font-weight: 600;
}

a {
    color: hsl(200, 100%, 80%);
}

p {
    margin: 1rem 0;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}


#split-pane {
    display: flex;

    gap: 1rem;

    &>*:first-child {
        width: 60%;
    }

    &>*:last-child {
        width: 40%;
    }
}

#editor {
    border: 1px solid white;
    height: 70vh;
}

#outputs__tabs, code {
    font-family: monospace;
}

.cm-editor {
    height: 100%;
}

ul {
    list-style: circle;
    margin-left: 2rem;
    line-height: 1.5;
}

button {
    border: none;
    border-radius: 2px;

    padding: 0.25rem 1.5rem;

    font-weight: 700;

    cursor: pointer;
    background-color: hsl(0, 0%, 40%);

    &:hover {
        background-color: hsl(0, 0%, 50%);
    }
}

select {

}

#outputs {
    height: 70vh;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;

    &__toolbar {
        display: flex;
        justify-content: space-between;
    }

    &__tabs {
        border: 1px solid white;
        
        padding: 1rem;

        flex-grow: 1;

        line-height: 1.75;

        overflow-y: auto;

        &>* {
            display: none;
    
            &.shown {
                display: block;
            }
        }
    }
}
