@use "reset";

:root {
    color-scheme: dark;
}

html, body {
    margin: 0;
    padding: 1rem;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 10%);
}

h1 {
    margin-bottom: 2rem;
    font-size: 2em;
    font-weight: 600;
}

a {
    color: hsl(200, 100%, 80%);
}

p {
    margin: 1rem 0;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

#split-pane {
    display: flex;

    gap: 1rem;

    &>* {
        width: 50%;
    }
}

#editor, #stderr {
    border: 1px solid white;
}

#stderr {
    padding: 1rem;
    max-height: 12rem;
    overflow-y: auto;
    line-height: 1.75;
}

#stderr, code {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style: circle;
    margin-left: 2rem;
    line-height: 1.5;
}
