@use "reset";
@use "theme";

:root {
    color-scheme: dark;
}

body, button, input, select {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    
    color: theme.$foreground;
    background-color: theme.$background;
}

nav {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    background-color: hsl(0, 0%, 20%);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    height: 100%;

    flex-grow: 1;

    height: calc(100% - 80px);
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

a {
    color: hsl(200, 100%, 80%);
}

p {
    margin: 1rem 0;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}


#split-pane {
    display: flex;

    // gap: 1rem;

    height: 100%;

    &>*:first-child {
        width: 60%;
    }

    &>*:last-child {
        width: 40%;
    }
}

#outputs__tabs, code {
    font-family: monospace;
}

.cm-editor {
    height: 100%;
}

.cm-tooltip {
    padding: 6px;
}

ul {
    list-style: circle;
    margin-left: 2rem;
    line-height: 1.5;
}

button {
    display: inline-block;

    border: none;
    border-radius: 3px;
    
    padding: 0.5rem 2.25rem;

    font-size: 1em;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.011em;

    cursor: pointer;
    background-color: theme.$btn-background;

    &:hover {
        background-color: theme.$btn-background--hover;
    }

    &.primary {
        background-color: theme.$btn-background--primary;

        &:hover {
            background-color: theme.$btn-background--primary--hover;
        }
    }
}

select {
    display: inline-block;

    border: none;
    outline: none;
    border-radius: 3px;
    
    padding: 0.5rem 2.25rem;

    font-size: 1em;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.011em;

    cursor: pointer;
    background-color: theme.$btn-background;
}

input {
    display: inline-block;

    border: none;
    outline: none;
    border-radius: 3px;
    
    padding: 0.5rem;

    font-size: 1em;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.011em;

    background-color: theme.$btn-background;
}

#outputs {
    height: 100%;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;

    padding: 1rem;

    &__toolbar {
        display: flex;
        justify-content: space-between;
    }

    &__tabs {
        border: 1px solid theme.$foreground;
        border-radius: 3px;

        padding: 1rem;

        flex-grow: 1;

        line-height: 1.75;

        overflow-y: auto;

        &>* {
            display: none;
    
            &.shown {
                display: block;
            }
        }
    }
}

#popup {
    position: fixed;

    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    border: 1px solid theme.$foreground;
    border-radius: 3px;

    display: none;

    gap: 1rem;
    flex-direction: column;

    padding: 2rem;

    z-index: 100;
    background-color: theme.$popup-background;

    &.shown {
        display: flex;
    }

    h2 {
        font-weight: 2rem;
        font-weight: 700;
    }
    
    div {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        
        gap: 1rem;
    }
}
