$foreground: hsl(0, 0%, 90%);
$background: hsl(0, 0%, 10%);

$btn-background: hsl(0, 0%, 20%);
$btn-background--hover: hsl(0, 0%, 25%);

$popup-background: hsl(0, 0%, 15%);

$btn-background--primary: hsl(37, 50%, 24%);
$btn-background--primary--hover: hsl(37, 93%, 30%);
